    <ul class="nav flex-column mt-5">   
      <li class="nav-item mt-3">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="Category">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#categories" aria-expanded="false" aria-controls="categories">
                  Kategoriler
                </button>
              </h2>
            </div>
            <div id="categories" class="collapse" aria-labelledby="Category" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a routerLink="/foods">Tüm yemekler</a></li>
                  <li class="list-group-item" *ngFor="let category of categories"><a routerLink="/foods/category/{{ category.id }}">{{ category.name }}</a></li>
                </ul>
              </div>
            </div>
          </div>
      
        </div>
      </li>

    </ul>

    <button type="button" class="btn btn-primary btn-lg btn-block mt-3">Filtrele</button>
 