<div class="first-img">

        <h1 class="text">Evde pişir sat.</h1>
        <p class="p1">Yaptığın yemekler çok mu lezzetli bunu herkese duyurup mini bir mutfak<br>
            kurup satış yapmaya ne dersin? İşte tam senlik bir platform</p>
  
</div>
<div class="second-area">
<h3 class="h3">Nedir ?</h3>
<p class="text-center font-weight-bolder justify-content-center mt-5">Bu platform temel hedef olarak ev hanımlarını belirlemiş ancak evinde yemek yapıp satmak isteyen herkesi de kapsayan alıcı ise satıcıyı yani 
    kullanıcıların doğrudan birbirleri ile iletişime geçip, yemek ekleyip sipariş alıp ve verebildikleri bir platformdur. Bu yenilikçi çözüm ile artık evinizden çıkmadan kendi 
lezzetlerinizi yakınınızda bulunan bir çok kişiye duyurabileceksiniz böylece evinde yemek yapacak vakti olmayanlara zaman kazandırmış, satıcıya ise gelir kaynağı olmaktadır.
<br> Artık çalışan kadınlar akşam ne pişirsem derdine düşmeyecek olup bu platform üzerinden veridkleri siparişleri ile akşam yemeğini zahmetsizce hazır hale getirebileceklerdir.
</p>
</div>
<div class="third-area">
    <div class="row">
        <div class="col-md-6 left">
            
        </div>
        <div class="col-md-6">
            <h3 class="h3">Nasıl çalışır ?</h3>
            <div class="row text-center d">
                <div class="col-lg-12 c">
                <img src="../../assets/images/signup.png"/>
             
                        <h6 class="h6">Üye ol</h6>
                        <p>Hemen üye olup bize katıl profilini oluştur. </p>
                    
                </div>
                <div class="col-lg-12 c">
                    <img src="../../assets/images/mobile.png"/>
             
                    <h6 class="h6">Mutfak aç</h6>
                    <p>Eğer bende yemek satacağım diyorsan profilim menüsünde bulunan mutfak oluştur seçeneğine tıklaman yeter.</p>
                </div>
                <div class="col-lg-12 c">
                    <img src="../../assets/images/photo.png"/>
             
                    <h6 class="h6">Yemeklerini ekle</h6>
                    <p>Yemeklerim menüsünden yemek ekleyebilirsin. Yemeğinin resmini çek yükle satışa başla.</p>
                </div>
                <div class="col-lg-12 c">
                    <img src="../../assets/images/sell.png"/>
             
                    <h6 class="h6">Sipariş teslim et</h6>
                    <p>Siparişlerini kapıda ödeme seçeneği ile evinin kapısından teslim et.</p>
                </div>
            </div>
        </div>
    </div>
</div>
