<h3>Yeni yemek ekle - reactive</h3>

<form [formGroup]="foodAddForm" (ngSubmit)="add()" class="form-group">
<div>
    <input type="text" id="name" name="name" formControlName="name" class="form-control" placeholder="Yemek adı">
    <div class="alert alert-danger" *ngIf="foodAddForm.get('name').hasError('required') && foodAddForm.get('name').dirty">Yemek adı zorunludur</div>
    <input type="text" id="description" name="description" formControlName="description" class="form-control" placeholder="Açıklama">
    <div class="alert alert-danger" *ngIf="foodAddForm.get('description').hasError('required') && foodAddForm.get('description').dirty">Açıklama alanı zorunludur</div>
    <input type="text" id="imageUrl" name="imageUrl" formControlName="imageUrl" class="form-control" placeholder="Fotoğraf">
    <div class="alert alert-danger" *ngIf="foodAddForm.get('imageUrl').hasError('required') && foodAddForm.get('imageUrl').dirty">Fotoğraf alanı zorunludur</div>
    <input type="text" id="price" name="price" formControlName="price" class="form-control" placeholder="Fiyat">
    <div class="alert alert-danger" *ngIf="foodAddForm.get('price').hasError('required') && foodAddForm.get('price').dirty">Fiyat alanı zorunludur</div>
</div>
<div class="form-group">
    <select
      class="form-control"
      formControlName="categoryId"
      required
      name="categoryId"
      id="categoryId"
    >
      <option *ngFor="let category of categories" [value]="category.id">{{
        category.name
      }}</option>
    </select>
    <div
      *ngIf="foodAddForm.get('categoryId').hasError('required')&&foodAddForm.get('price').touched"
      class="alert alert-danger"
    >
      Kategori alanı boş bırakılamaz
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="foodAddForm.invalid"
  > Yemek ekle </button>
</form>