<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="./main-profile">Profilim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./order">Siparişlerim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./kitchen-profile">Mutfağım</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Mutfak oluştur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./kitchen-food">Yemeklerim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Hesabımı kapat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Çıkış yap</a>
      </li>
    </ul>

  </div>

