
<div class="container">
    <div class="row">
      <nav class="col-md-3 d-none d-md-block bg-light ">
        <div class="sidebar-sticky">

    </div>
  </nav>
      <div class="customize-search-header">
        <button class="button" data-toggle="modal" data-target=".category"><i class="fa fa-filter"></i>Kategoriler</button>
        
        <button class="button button2"><i class="fa fa-building"></i>Şehirler</button>
        <button class="button button3"><i class="fa fa-search"></i>Ara</button>
      </div>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <input class="form-control" type="text" placeholder="Mutfak arayın..">
  
        </div>
        <div class="modal fade category" id="category" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Kategoriler</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                  <li class="list-group-item active">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Seç</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let kitchen of Kitchens  | paginate: { itemsPerPage: 10, currentPage: pageNumber } " class="col-md-4">
            <div  class="card mb-4">
              <img src="{{ kitchen.logoUrl }}" class="card-img-top" alt="mutfak" width="400" height="330" style="object-fit:fill;"/>
              <div class="card-body">
                <h5 class="card-title">{{ kitchen.kitchenName | uppercase }}</h5>
                <p class="card-text">
                  {{ kitchen.description }}
                </p>
                <a routerLink="/kitchen/{{ kitchen.id }}" class="btn btn-success mr-2">Detaylar</a>
              </div>
            </div>
          </div>
        </div>
                
        <pagination-controls (pageChange)="onPageChange($event)"
        maxSize="9"
        autoHide="true"
        previousLabel="Geri"
        nextLabel="İleri"
        >
      </pagination-controls>
      </main>
    </div>
  </div>